@{
    Layout = "_Layout";
}

@if (ViewData.ContainsKey("nombreUsuario"))
{
    <h2>@ViewData["nombreUsuario"]</h2>
}

<div class="texto1">
    <h1 class="animate__animated animate__backInLeft">Descubre mejores maneras de mantener tu dinero</h1>
</div>
<div class="texto2">
    <h1 class="animate__animated animate__backInLeft">BanCobradotas es un sistema web de banco responsable de que la
        administracion de tus pagos y cuentas sea posible.</h1>
</div>

<img src="@Url.Content("~/images/Index.png")" alt="BanCobradotas Source File" class="imagen">

<a href="@Url.Action("Registrarse", "LogIn")">
    <button class="ingreso">Registrarse</button>
</a>
