@model AdministrarCuentasModel

@{
    ViewData["Title"] = "FuncionesGerente";
}


<div class="row">
    <h1 class="display">Empleados y clientes dados de alta</h1>
    <p>empleados</p>
    <table class="thead-inverse" align="left">
        <tr>
            <th>IDempleado</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>FechaNacimiento</th>
        </tr>
        <tbody>
            
        </tbody>
    </table>

    <p>clientes</p>
</div>