@{
    ViewData["Title"] = "Pagina Principal";
}

@if (ViewData.ContainsKey("nombreUsuario"))
{
    <h2>@ViewData["nombreUsuario"]</h2>
}

<a href="AdministrarCuentas.cshtml">
    <button class="ingreso">Administrador de cuentas</button>
</a>

<a href="CrearEmpleado.cshtml">
    <button class="ingreso">Crear empleado</button>
</a>

<a href="Reportes.cshtml">
    <button class="ingreso">Reportes</button>
</a>

<a href="Vacaciones.cshtml">
    <button class="ingreso">Vacaciones</button>
</a>