@{
    ViewData["Title"] = "Pagina Principal";
}

@if (ViewData.ContainsKey("Nombre"))
{
    <h2>@ViewData["Nombre"]</h2>
}
<div>
    <a href="AdministrarCuentas">
        <button class="ingreso">Administrador de cuentas</button>
    </a>

    <a href="CrearEmpleado">
        <button class="ingreso">Crear empleado</button>
    </a>

    <a href="Reportes">
        <button class="ingreso">Reportes</button>
    </a>

    <a href="Vacaciones">
        <button class="ingreso">Vacaciones</button>
    </a>
</div>