<div>
    <form asp-controller="FuncionesGerente" asp-action="Vacaciones" method="Post" class="pure-form">
    //tomara la fecha actual y si se exceden los cuatros dias se cancela 
    <p>Crear dias de vacaciones</p>
    <p>ingresa la fecha final de vacaciones:</p>
    <input type="Date"/>
    </form>
        <div class="aceptar">
            <input type="submit" class="pure-input-rounded" required value="pedir vacaciones"
                style="background: #363469; border-color: #363469; font-family: 'Baloo Tamma 2', cursive; color: #FFFF" />
        </div>
</div>