@{
    ViewData["Title"] = "IniciarSesion";
}

<div class="header">

    <p>Welcome Again to BanCobradotas! </p>

</div>

<div class="BanCobradotas">
    <a href="Principal.html" class="custom-link">BanCobradotas</a>
</div>

<div class="jumbotron">

    <form asp-controller="LogIn" asp-action="IniciarSesion" method="post" class="pure-form">

        <div class="container">
            Ingresa tu usuario
            <input type="text" class="pure-input-rounded" required name="usuario" />
        </div>
        <br /><br />
        <div class="container">
            Ingresa tu contraseña
            <input type="password" class="pure-input-rounded" style="background: #D3CEFA; border: 4px solid #363469;"
                required name="contrasena" />
        </div>

        <br /><br />
        <div class="aceptar">
            <input type="submit" value="aceptar" class="pure-input-rounded"
                style="background: #363469; border-color: #363469; font-family: 'Baloo Tamma 2', cursive; color: #FFFF" />
        </div>
    </form>

    @if (ViewData.ContainsKey("Mensaje"))
    {
        <div class="row">
            @ViewData["Mensaje"]
        </div>
    }

</div>