<div class="header">

    <p>Bienvenido al registro de BanCobradotas! </p>

</div>

<div class="BanCobradotas">
    <a href="Principal.html" class="custom-link">BanCobradotas</a>
</div>

<div class="jumbotron">

    <form method="post" class="pure-form">

        <div class="container">
            Ingresa tu nombre completo
            <input type="text" class="pure-input-rounded" size="20"
                style="background: #D3CEFA;  border: 4px solid #363469; " />
        </div>
        <br /><br />
        <div class="container">
            Ingresa tu fecha de nacimiento
            <input type="date" class="pure-input-rounded" style="background: #D3CEFA; border: 4px solid #363469;" />
        </div>
        <br /><br />
        <div class="container">
            ingresa tu CURP
            <input type="text" class="pure-input-rounded" size="20"
                style="background: #D3CEFA;  border: 4px solid #363469; " />
        </div>
        <div class="aceptar">
            <input type="submit" value="aceptar" class="pure-input-rounded"
                style="background: #363469; border-color: #363469; font-family: 'Baloo Tamma 2', cursive; color: #FFFF" />
        </div>
    </form>

    @* TODO: Add error message *@

</div>