@model Prestamo
<div>
    <h1>Historial de pagos</h1>
</div>

<div class="row">
    <h1 class="display">Historial de cada pago</h1>
    <table class="thead-inverse" align="left">
        <thead>
            <th>Pago N°</th>
            <th>Cantidad del pago</th>
            <th>Fecha del pago</th>
        </thead>

        <tbody>
            @if (Model.Pagos.Any())
            {
                @foreach (Pago data in Model.Pagos)
                {
                    <tr>
                        <td>@data.IDPago</td>
                        <td>@data.Cantidad</td>
                        <td>@Convert.ToString(string.Format("{0:dd/MM/yyyy}", data.Fecha))</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>

    </div>

