<div>
    <p>Historial de prestamos</p>
</div>

<div class="Prestamos">
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
        <tr>
        <tr>
            <th>Folio del prestamo</th>
            <th>Cantidad</th>
            <th>Num Pago</th>
            <th>Fecha de solicitud</th>
            <th>Fecha de liquidacion</th>
        </tr>
        <tbody>
                @foreach (Prestamo data in Model.HistorialPrestamos)
                {
                <tr>
                    <td>@data.IDPrestamo</td>
                    <td>@data.Cantidad</td>
                    <td>//numero de pagos</td>
                    <td>@data.FechaSolicitud</td>
                    <td>
                    </td>
                </tr>
                }
        </tbody>
    </table>
</div>

