@model Prestamo
@{
    ViewData["Title"] = "Prestamos";
}

<div>
    <p>Solicitar un prestamo</p>
</div>
<div>

    <p>Si tu saldo es menor a 10,000MXN no puedes pedir prestamo!</p>
    //cantidad
    <form asp-controller="CuentaBancaria" asp-action="SolicitarPrestamo" method="post" class="pure-form">
        <p>Ingresa la cantidad:</p>
        <input type="number" value="cantidad" asp-for="Cantidad" required />
        <p>Meses:</p>
        <select asp-for="NumMeses">
            <option value="6">6</option>
            <option value="12">12</option>
            <option value="24">24</option>
            <option value="36">36</option>
        </select>
        <div class="aceptar">
            <input type="submit" class="pure-input-rounded" required
                style="background: #363469; border-color: #363469; font-family: 'Baloo Tamma 2', cursive; color: #FFFF" />
        </div>
    </form>

    @if (ViewData.ContainsKey("Msg"))
    {
        <div class="container">
            @ViewData["Msg"]
        </div>
    }
</div>