<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
        <a href="@Url.Action("Index")" class="custom-link">BanCobradotas</a>
        </li>
          @if (Context.User.Identity?.IsAuthenticated ?? false)
          {
        <li class="nav-item">
        <a href="@Url.Action("LogOut", "LogIn")" class="custom-link">Salir de la cuenta</a>
        </li>
          }
          else
          {
          <li class="nav-item">
            <a href="@Url.Action("IniciarSesion", "LogIn")" class="custom-link">Iniciar Sesion</a>
          </li>
          }
      </ul>
    </div>
  </div>
</nav>

