@model Prestamo
@{
    ViewData["Title"] = "CalcularPrestamo";
}

<div>
    <p>tasa de interes:</p>//mostrar el resultado del calculo de la tasa.
    @* <p>cantidad: @data.Cantidad</p>
    <p>numero de meses: @data.NumMeses</p> *@

    //calcular el prestamo
    <input type="submit" value="Calcular" class="btn btn-primary" />
    <br><br />
    //aceptar el prestamo calculado
@*     <form asp-action="Aceptar" asp-route-id="@data.IDPrestamo" method="post">
        <input type="submit" value="Aprobar" class="btn btn-primary" />
    </form> *@
</div>
</tbody>
</div>
