@{
    Layout = "_Layout";
}

<div>
    <p>Historial de prestamos</p>
</div>

<div class="Prestamos">
    <table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
        <tbody>
            <tr>
                <td style="vertical-align: top;">folio del prestamo<br>
                </td>
                <td style="vertical-align: top;">Cantidad<br>
                </td>
                <td style="vertical-align: top;">Pago N<br>
                </td>
                <td style="vertical-align: top;">Fecha de solicitud<br>
                </td>
                <td style="vertical-align: top;">Fecha de liquidacion<br>
                </td>
            </tr>
        </tbody>
    </table>
</div>

