@model BanCobradotas.Models.Prestamo
@{
    Layout = "_Layout";
}

<div>
    <p>Solicitar un prestamo</p>
</div>
<div>
        <p>Si tu saldo es menor a 10,000MXN no puedes pedir prestamo!</p>
        <div class="aceptar">
        <input type="submit" value="solicitar Prestamo" class="pure-input-rounded" required
                style="background: #363469; border-color: #363469; font-family: 'Baloo Tamma 2', cursive; color: #FFFF" />
        </div>
</div>