@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Libre+Baskerville&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&display=swap');

.body1 {
    background: #363469;
    color: white;
}

.custom-link {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
}

.BanCobradotas {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 20px;
    position: fixed;
    top: 30px;
    left: 10px;
}

.login {
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 20px;
    position: fixed;
    top: 30px;
    margin-left: 100px; 
}

.texto1 {

    color: #FFF;
    font-size: 35px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 20px;
    margin-right: 890px;
    margin-top: 10px;
    position: absolute;
}

.texto2 {
    color: #FFF;
    font-family: 'Arapey', serif;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 400px;
    position: absolute;
    margin-right: 700px;
}

.imagen {
    width: 900px;
    height: 700px;
    position: fixed;
    margin-left: 1200px;
    margin-top: 450px;
}

.ingreso {
    width: 200px;
    height: 90px;
    background: #BBB5EA;
    border-color: #E9E9ED;
    color: #FFF;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 25px;
    border-radius: 40px;
    position: fixed;
    bottom: 10px;
    margin-left: 90px;
}

.rectangle{
    background: #FFFF;
    position: absolute;
    color: #363469;
    width: 1500px;
    height: 800px;
    margin-left: 30px;
    margin-top: 200px;
}